#wheel {
  background-color: #779;
  padding: 2%;
  border-radius: 0.3em;
  display: block;
}

.task {
  background-color: #335;
  color: #ccc;
  font-size: 1.7em;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 0.8em;
  text-align: center;
  width: 44%;
  display: inline-block;
}

.task.done {
  background-color: #999;
  color: #555;
}

.task:hover {
  background-color: #447;
  color: #ccc;
}

.task.done:hover {
  background-color: #667;
  color: #333;
}

button {
  color: #333;
  background-color: #c50;
  font-size: 1.2em;
  size: 2em;
  border: none;
  padding: 0.4em;
  margin: 0.7em;
  border-radius: 0.3em;
}

button:hover {
  color: #222;
  background-color: #a32;
}

.choreSchedule {
  background-color: #779;
  font-size: 1.5em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.8em;
}

.dayOfWeek {
  background-color: #999;
  color: #555;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.4em;
  margin: 0.2em;
  border-radius: 0.3em;
}

.dayOfWeek.active {
  background-color: #335;
  color: #ccc;
}

.dayOfWeek:hover {
  background-color: #667;
  color: #333;
}

.dayOfWeek.active:hover {
  background-color: #447;
  color: #ccc;
}

.choreTitle {
  color: #333;
  font-size: 1.2em;
}

.textButton {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.3em;
  background-color: #aad;
  border-radius: 0.3em;
  margin: 0.2em;
}

.textButton:hover {
  background-color: #cce;
}

.removeText {
  color: #900;
}

.renameText {
  color: #313;
}

.choreTitleLine {
  margin-bottom: 0.9em;
  display: block;
}

