main, body, html {
  height: 100%;
  margin: auto;
  max-width: 60em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Georgia, "Times New Roman", serif;
  color: #484848;
  background-color: #e8e8e8;
}

img:not(.flow) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  padding-top: 3em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#reminder {
  background-color: #447;
  padding: 2%;
  border-radius: 0.3em 0.3em 0 0;
  display: block;
}

.chore,
.reminder {
  background-color: #779;
  margin: 1%;
  font-size: 1.7em;
  border-radius: 0.8em;
  width: 98%;
  display: inline-block;
}

.chore {
  background-color: #222;
  box-shadow: 0.2em 0.2em 0.2em #444;
}

.task {
  box-shadow: 0.2em 0.2em 0.2em #333;
}

.reminder {
  box-shadow: 0.2em 0.2em 0.2em #000;
}

.choreText,
.reminderText {
  color: #ccc;
  display: inline-block;
  margin: 10px 10px 10px 20px;
}

.buttons {
  float: right;
  margin: 0;
  border-radius: 0.8em;
  background-color: #222;
  color: #aaa;
  display: inline-block;
}

.button {
  padding: 10px;
  display: inline-block;
  border-radius: 0.8em;
}

.button:hover {
  background-color: #444;
}

.choreTop .buttons {
  border-radius: 0 0.8em 0 0;
}

.buttonSep {
  border-left:1px solid #666;
  display: inline-block;
  height: 0.8em;
  margin-left: 5px;
  margin-right: 5px;
}

#wheel {
  background-color: #779;
  padding: 2%;
  border-radius: 0 0 0.3em 0.3em;
  display: block;
}


.task {
  background-color: #335;
  color: #ccc;
  font-size: 1.7em;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 0.8em;
  text-align: center;
  width: 44%;
  display: inline-block;
}

.task.done {
  background-color: #999;
  color: #555;
  text-decoration: line-through;
}

.task:hover {
  background-color: #447;
  color: #ccc;
}

.task.done:hover {
  background-color: #667;
  color: #333;
}

input, button {
  color: #333;
  background-color: #c50;
  font-size: 1.2em;
  size: 2em;
  border: none;
  padding: 0.4em;
  margin: 0.7em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.1em #555;
}

input:hover, button:hover {
  color: #222;
  background-color: #a32;
}

.dayOfWeek {
  background-color: #999;
  color: #555;
  font-size: 0.7em;
  display: inline-block;
  width: 11.428%;
  text-align: center;
  padding: 1%;
}

.dayOfWeek.active {
  background-color: #335;
  color: #ccc;
}

.dayOfWeek:not(.Sunday) {
  margin-left: 1%;
}

.dayOfWeek.Sunday {
  border-radius: 0 0 0 0.8em;
}

.dayOfWeek.Saturday{
  border-radius: 0 0 0.8em 0;
}

.dayOfWeek:not(.active) {
  text-decoration: line-through;
}

.dayOfWeek:hover {
  background-color: #667;
  color: #333;
}

.dayOfWeek.active:hover {
  background-color: #447;
  color: #ccc;
}

.choreTop {
  background-color: #779;
  display: block;
  border-radius: 0.8em 0.8em 0 0;
}

.choreBottom {
  background-color: #222;
  padding-top: 0.6em;
  border-radius: 0 0 0.8em 0.8em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

