main, body, html {
  height: 100%;
  margin: auto;
  max-width: 60em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Georgia, "Times New Roman", serif;
  color: #484848;
  background-color: #e8e8e8;
}

img:not(.flow) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  padding-top: 3em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#reminder {
  background-color: #444;
  padding: 2%;
  border-radius: 0.3em 0.3em 0 0;
  display: block;
}

.reminder {
  background-color: #772;
  margin: 1%;
  font-size: 1.7em;
  border-radius: 0.8em;
  width: 94%;
  display: inline-block;
}

.reminderText {
  color: #ccc;
  display: inline-block;
  margin: 10px 10px 10px 20px;
}

.reminderButtons {
  float: right;
  margin: 0;
  border-radius: 0.8em;
  background-color: #222;
  color: #aaa;
  display: inline-block;
}

.reminder .button {
  padding: 10px;
  display: inline-block;
  border-radius: 0.8em;
}

.reminder .button:hover {
  background-color: #444;
}

.buttonSep {
  border-left:1px solid #666;
  display: inline-block;
  height: 0.8em;
  margin-left: 5px;
  margin-right: 5px;
}

#wheel {
  background-color: #779;
  padding: 2%;
  border-radius: 0 0 0.3em 0.3em;
  display: block;
}


.task {
  background-color: #335;
  color: #ccc;
  font-size: 1.7em;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 0.8em;
  text-align: center;
  width: 44%;
  display: inline-block;
}

.task.done {
  background-color: #999;
  color: #555;
  text-decoration: line-through;
}

.task:hover {
  background-color: #447;
  color: #ccc;
}

.task.done:hover {
  background-color: #667;
  color: #333;
}

input, button {
  color: #333;
  background-color: #c50;
  font-size: 1.2em;
  size: 2em;
  border: none;
  padding: 0.4em;
  margin: 0.7em;
  border-radius: 0.3em;
}

input:hover, button:hover {
  color: #222;
  background-color: #a32;
}

.reminderSettings {
  background-color: #772;
  font-size: 1.5em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.8em;
}

.choreSchedule {
  background-color: #779;
  font-size: 1.5em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.8em;
}

.dayOfWeek {
  background-color: #999;
  color: #555;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.4em;
  margin: 0.2em;
  border-radius: 0.3em;
}

.dayOfWeek.active {
  background-color: #335;
  color: #ccc;
}

.dayOfWeek:not(.active) {
  text-decoration: line-through;
}

.dayOfWeek:hover {
  background-color: #667;
  color: #333;
}

.dayOfWeek.active:hover {
  background-color: #447;
  color: #ccc;
}

.reminderTitle,
.choreTitle {
  color: #333;
  font-size: 1.2em;
}

.textButton {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.3em;
  background-color: #aad;
  border-radius: 0.3em;
  margin: 0.2em;
}

.textButton:hover {
  background-color: #cce;
}

.removeText {
  color: #900;
}

.renameText {
  color: #313;
}

.reminderTitleLine,
.choreTitleLine {
  margin-bottom: 0.9em;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

